/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    --primary-color: #d25d58;
}

body {
    background: linear-gradient(to right, #13773b, #45be6d);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #202124;
    text-align: center;
    border-radius: 10px;
    margin: 0 20px;
    overflow: hidden;
}

.card__img {
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    cursor: pointer;
    transition: 0.5s;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: none;
    transform: translateY(0);
}

.card__name {
    color: white;
    margin: 35px 0 5px 0;
}

.card__title {
    color: var(--primary-color);
}

.card__social {
    margin: 30px 0;
}

.card__social a{
    color: white;
    font-size: 20px;
    padding: 0 20px;
    transition: 0.5s;
}

.card__social a:hover {
    color: var(--primary-color);
}

.card__btn {
    border: 1px solid var(--primary-color);
    background-color: #202124;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.card__btn:hover {
    background-color: var(--primary-color);
}